{% import './helpers/schema.j2' as schemaHelper %}
---
subcategory: "{{name}}"
layout: "{{provider_name | camelize}}"
page_title: "{{provider_name | pascalize}}: {{provider_name | camelize}}_{{name | camelize}}"
sidebar_current: "docs-{{provider_name | camelize}}-resource-{{name | camelize}}"
description: |-
  Resource for {{provider_name | capitalize}} {{name}}
---

# {{provider_name | camelize}}_{{name | camelize}} #
Resource for {{provider_name | capitalize}} {{name}}

## Example Usage ##

```hcl
	resource "{{provider_name | camelize}}_{{name | camelize}}" "demo{{name | camelize}}" {
	{% for schema in schemas -%}
        {{schemaHelper.getRequiredResAttr(schema) -}}
    {% endfor -%}
	}
```
## Argument Reference ##
{% for schema in schemas -%}
    {{schemaHelper.getResourceAttrMD(schema) }}
{% endfor -%}

## Attribute Reference

The only attribute that this resource exports is the `id`, which is set to the
Dn of the Contract.
* `filter.id` - Exports this attribute for filter object. Set to the Dn for the filter managed by the contract.
* `filter.filter_entry.id` - Exports this attribute for filter entry object of filter object. Set to the Dn for the filter entry managed by the contract.

## Importing ##

An existing {{name | pascalize}} can be [imported][docs-import] into this resource via its {# Write ID Here#}, via the following command: [docs-import]:
[docs-import]: https://www.terraform.io/docs/import/{#Add Remaining Link Here#}


```
terraform import {{provider_name | camelize}}_{{name | camelize}}.example {# Write DN Here#}
```