{% import './helpers/schema.j2' as schemaHelper %}
package {{provider_name | snakify}}

import(
    {% for import in imports  %}
    "{{ import }}"
    {% endfor %}
)

func resource{{provider_name | pascalize}}{{name | pascalize}}() *schema.Resource {
	return &schema.Resource{
        CreateContext: resource{{provider_name | pascalize}}{{name | pascalize}}Create,
		UpdateContext: resource{{provider_name | pascalize}}{{name | pascalize}}Update,
		ReadContext:   resource{{provider_name | pascalize}}{{name | pascalize}}Read,
		DeleteContext: resource{{provider_name | pascalize}}{{name | pascalize}}Delete,


        Importer: &schema.ResourceImporter{
			StateContext: schema.ImportStatePassthroughContext,
		},

		Schema: map[string]*schema.Schema{
			{% for schema in schemas %}
				{{ schemaHelper.getSchemaEle(schema) }}
			{% endfor %}
		},
	}
}
